body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  div {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: purple;
        margin: 5px;
        font-size: 2em;
        text-align: center;
    }
    p {
      color: rgb(62, 61, 61);
      text-align: center;
      font-size: 1em;
    }
    .searchSection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
    }
    input {
      padding: 10px;
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 0.8em;
    }
    input:focus {
      outline: none;
    }
    button {
      cursor: pointer;
      padding: 10px;
      margin-left: -6px;
      border: none;
      background: purple;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
      font-size: 0.8em;
    }
    #cocktailDisplay {
        margin: 20px 0 0 0;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      h3 {
        font-size: 1em;
        color: darkblue;
        padding: 10px 5px;
        text-align: center;
      }
      p {
        font-size: 1.2em;
        color: darkgreen;
        text-align: left;
        max-width: 490px;
      }
      img {
        margin-top: 10px;
        width: 100%;
        height: 200px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        object-fit: cover;
      }
    }
  }
}
@media (min-width: 320px) {
  body div {
    padding: 20px;
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
    .searchSection {
      flex-direction: column;
      input, button {
        width: 100%;
        margin: 5px 0;
        border-radius: 5px;
      }
      button {
        margin-left: 0;
      }
    }
    #cocktailDisplay p {
      font-size: 1em;
    }
    #cocktailDisplay img {
      height: auto;
    }
  }
}