* {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  color: yellow;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  div {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
        color: yellow;
        margin: 5px 0;
        text-align: center;
        span {
            vertical-align: middle;
            font-size: 1.5em;
        }
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            vertical-align: middle;
            margin-right: -10px;
        }
    }
    p {
      color: white;
      text-align: center;
      font-size: 1em;
    }
    .searchSection {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      
    }
    input {
      padding: 10px;
      border: none;
      color: black;
      box-shadow: 0 0 5px rgb(255, 255, 255);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      font-size: 0.8em;
    }
    input:focus {
      outline: none;
    }
    button {
      cursor: pointer;
      padding: 10px;
      margin-left: -6px;
      border: none;
      background: blue;
      box-shadow: 0 0 5px rgb(255, 255, 255);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
      font-size: 0.8em;
      font-weight: 800;
    }
    #cocktailDisplay {
        color: yellow;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
        .cocktailList {
          box-shadow: 0 0 10px rgb(255, 255, 255);
          border-radius: 10px;
          margin: 50px 0 30px 0;
          text-align: center;
          padding: 10px;
          h3 {
            font-size: 1.5em;
            color: yellow;
            text-align: left;
          }
          p {
            font-size: 1em;
            color: white;
            text-align: left;
            max-width: 500px;
          }
          img {
            margin-top: 10px;
            width: 100%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(255, 255, 255);
            object-fit: cover;
          }
        }
      
    }
  }
}

/* Small devices (phones, less than 600px) */
@media screen and (max-width: 600px) {
  body {
    div {
      padding: 20px;

      h1 {
        font-size: 1.2em;
        span {
          vertical-align: middle;
          font-size: 1em;
        }
        img {
          width: 30px;
          height: 30px;
          margin-right: 0;
        }
      }

      p {
        font-size: 0.9em;
      }

      .searchSection {
        flex-direction: column;
        gap: 10px;
        margin-top: 15px;
      }

      input, button {
        width: 100%;
        font-size: 0.9em;
        margin-left: 0;
        border-radius: 5px;
        margin-bottom: 10px;
      }

      #cocktailDisplay {
        .cocktailList {
          margin: 20px 0;
          padding: 5px;

          h3 {
            font-size: 1em;
          }
          p {
            font-size: 0.6em;
            width: 100%;
          }
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
